@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


@{
    var heroImage = Umbraco.Media(Guid.Parse("839d3fcc-011c-4a7e-b04a-4a1b1eb413aa")) as Image;

    <section class="hero" style="background-image: url(@heroImage.Url())" >
        <a href="#bottom" class="contact-btn btn">@Model.Value("heroBtnTxt")</a>
    </section>
}

    <main>
      <section class="info-outer">
        <h3 class="header-left">@Model.Value("realEstateHeader")</h3>
        <div class="info-inner">
          <div class="info__facts-outer">
            <h4>Facts</h4>
            <div class="info__facts-inner">
              <div>
                <p>Area</p>
                <p>Floors</p>
                <p>Rooms</p>
                <p>Baths</p>
              </div>
              <div>
                <p>: @Model.Value("realEstateArea")</p>
                <p>: @Model.Value("realEstateFloors")</p>
                <p>: @Model.Value("realEstateRooms")</p>
                <p>: @Model.Value("realEstateBaths")</p>
              </div>
            </div>
            <button class="btn">Price: $@Model.Value("realEstatePrice")</button>
          </div>
          <div class="info__content-outer">
            <h4>Description</h4>
            <p>@Model.Value("realEstateDescription")</p>
          </div>
        </div>
      </section>


      <section class="living-outer">
        @{
            var bannerImage = Umbraco.Media(Guid.Parse("bc7d2715-053a-41f9-bc28-c344df51fbc8")) as Image;
            <div class="banner" style="background-image: url(@bannerImage.Url())">
                <h2>@Model.Value("livingInHeader")</h2>
            </div>
        }
        <h3 class="header-left">Description</h3>
        <div class="info-inner">
          <div class="info__facts-outer">
            <h4>Facts</h4>
            <div class="info__facts-inner">
              <div>
                <p>Habitants</p>
                <p>Founded in</p>
                <p>Nearest beach</p>
                <p>Alhambra</p>
              </div>
              <div>
                <p>: 2000</p>
                <p>: 1398</p>
                <p>: 5 km</p>
                <p>: 120 km</p>
              </div>
            </div>
            <a href="#" class="btn">Read more</a>
          </div>
          <div class="info__content-outer">
            <p>
              @Model.Value("livingInDescription")
            </p>
          </div>
        </div>
      </section>

      <section class="info-outer">
        <h3 class="header-left">Links of interest</h3>
        <div class="info-inner">
          <img src="" alt="" class="www" />
          <div class="info__facts-outer links">
            <a href="#">www.somewhereinteresting.com</a>
            <a href="#">www.havefuninvalencia.es</a>
            <a href="#">www.alahambra.es</a>
            <a href="#">www.rabita.es</a>
            <a href="#" class="btn links__btn">See on map --></a>
          </div>
        </div>
      </section>

     